body {
    background-color: #20242c;
    color: #ffffff;
    font-family: 'Segoe UI', sans-serif;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.container {
    width: 400px;
    background-color: #2f3440;
    padding: 20px;
    border-radius: 10px;
    border: 5px solid #3f5666;
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
}

h1 {
    color: #0099ff;
    text-align: center;
}

h3 {
    color: #70d1e9;
    border-bottom: 1px solid #3f5666;
    padding-bottom: 5px;
}

.card {
    background: #3f5666;
    padding: 15px;
    border-radius: 5px;
    border-left: 5px solid #70d1e9;
}

button {
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    background-color: #0099ff;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #0099ff;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    padding: 5px 0;
    color: #ccc;
}

input,
select {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 5px;
    border: 1px solid #3f5666;
    background-color: #2f3440;
    color: white;
    box-sizing: border-box;
}

hr {
    border: 0;
    border-top: 1px solid #333;
    margin: 20px 0;
}

/* ===== NOTIFICAÇÃO ===== */

.notificacao {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #0099ff;
    color: #2f3440;
    padding: 15px 25px;
    border-radius: 8px;
    font-weight: bold;
    box-shadow: 0 5px 15px #2f3440;

    opacity: 0;
    visibility: hidden;

    transition: all 0.4s ease;
}

.notificacao.show {
    opacity: 1;
    visibility: visible;
}

/* ===== MODAL ===== */

#myModal {
    display: none;
    position: fixed;
    z-index: 9999;
    inset: 0;
    background-color: #242831;
}

#myModal .modal-content {
    background-color: #2f3440;
    color: #ffffff;

    width: 90%;
    max-width: 450px;

    margin: 10% auto;
    padding: 25px;

    border-radius: 10px;
    border: 1px solid #2f3440;

    box-shadow: 0 10px 30px #242831;

    text-align: center;
}

#myModal h2 {
    color: #0099ff;
    margin-bottom: 15px;
}

#myModal p {
    color: #cccccc;
    line-height: 1.5;
}

#myModal .close {
    color: #ffffff;
    float: right;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

#myModal .close:hover {
    color: #0099ff;
}